#shopping-header {
  .container{
    max-width: 800px;
    // max-width: $m-w-800;
    margin: $m-5 auto;
    text-align: $c;
    display: $d-f;
    align-items: $c;
    justify-content: $sp-b;
    .shopping-icon-wrapper{
      position: relative;
      span{
        position: absolute;
        background-color: $red;
        color: $white;
        display: $d-f;
        justify-content: $c;
        align-items: $c;
        height: $h-20;
        width: $w-20;
        border-radius: 50%;
        top: 50%;
        right: -50%;
      }
    }
  }
}


@media (min-width: 395px) and (max-width: 516px) {
  #shopping-header {
    .container{
      max-width: 370px;
    }
  }
}

@media (max-width: 395px) {
  #shopping-header {
    .container{
      max-width: 350px;
    }
  }
}

@media (min-width: 425px) and (max-width: 521px) {
  #shopping-header {
    .container{
      max-width: 420px;
    }
  }
}


@media (min-width: 516px) and (max-width: 570px) {
  #shopping-header {
    .container{
      max-width: 480px;
    }
  }
}

@media (min-width: 570px) and (max-width: 590px) {
  #shopping-header {
    .container{
      max-width: 500px;
    }
  }
}

@media (min-width: 590px) and (max-width: 631px) {
  #shopping-header {
    .container{
      max-width: 550px;
    }
  }
}

@media (min-width: 800px) and (max-width: 860px) {
  #shopping-header {
    .container{
      max-width: 750px;
    }
  }
}

@media (min-width: 740px) and (max-width: 800px) {
  #shopping-header {
    .container{
      max-width: 710px;
    }
  }
}