$d-f: flex;
$sp-b: space-between;
$c: center;
 
//max-widths
$m-w-800: 800px;
$m-w-850: 850px;

//widths
$w-15: 15px;
$w-20: 20px;
$w-50: 50px;
$w-350: 350px;

//colors
$black: black;
$white: white;
$light-gray: rgb(179, 174, 174);
$dark-yellow: rgb(210, 175, 17);
$red: red;
$dark-gray: #eee1;

//paddings
$p-0: 0;
$p-2: 2px;
$p-6: 6px;
$p-5: 5px;
$p-8: 8px;
$p-10: 10px;
$p-16: 16px;
$p-20: 20px;
$p-14: 14px;
$p-15: 15px;

//margins
$m-5: 5px;
$m-30: 30px;
$m-t-15: 15px;
$m-0: 0;

//heights
$h-30: 30px;
$h-350: 350px;
$h-300: 300px;
$h-40: 40px;
$h-20: 20px;
$h-50: 50px;
$h-15: 15px;

//border-radius
$b-r-10: 10px;
$b-r-19:19px;

//font-sizes
$f-15: 15px;
$f-16: 16px;
$f-12: 12px;

$r-500: 500px;

//font-weight
$f-w-250: 250px;

//letter space
$l-s-3: 3px;
